<footer class="footer">
    <nav class="navegacion">
        <!-- <a id="tabla">Agregar</a>
        <a href="carrito.html">Carrito</a> -->
    </nav>
    <hr>
    <p>© Copyright 2020-2021</p>
</footer>
</body>
</html>
