<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Punto de venta</title>
	<link rel="stylesheet" href="/css/main.css">

	 <!-- icons -->
	 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	 integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>
	<header class="site-header inicio">
        <div class="cortina">
            <div class="contenedor contenido-header">
                <div class="barra">
                    <a href="/" class="logo-principal">
                        <i class="fas fa-store"></i>
                    </a>
                    <nav class="navegacion">
                        <a href="/products">Agregar</a>
                        <a href="/carrito">Carrito</a>
                    </nav>

                </div>
                <div class="titulo-header">

                    <h1>Indira Gandhi (1917-1984)</h1>
                    <p>“Para liberarse, la mujer debe sentirse libre, no para rivalizar con los hombres, sino libres en
                        sus capacidades y personalidad”.</p>
                    <hr>
                </div>

            </div>
        </div>
    </header>
	
