<% include partials/head %>







<!-- <form action="/new-product" method="POST">
	<input id="newItem" type="text" name="newItem">
	<button>Add a Produt</button>
</form>

<script>
	const txtNewItem = document.getElementById('newItem');
	txtNewItem.focus();
</script> -->

<% include partials/foot %>
